<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome <%- user -%></h1>
    <p>Fun Fact about <%- user -%></p>
    <ul>
      <% info.forEach(function(item) { %>
      <li><%- item -%></li>
      <% })%>
    </ul>
    <script src="/javascripts/methods.js" async defer></script>
  </body>
</html>
