<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img src="/image/rabbit-1.png" alt="rabbit-1" />
    <img src="/image/rabbit-2.jpg" alt="rabbit-2" />
    <img src="/image/rabbit-3.jpg" alt="rabbit-3" />
  </body>
</html>
